/* 1300 / 1000 / 500 px */
.shopMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .shopBox { 
        border: 1px solid black;
        width: 100%;
        max-width: 1300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 7px;
        
        .shopTop {
            background-color: aqua;
            width: 100%;
            display: flex;
            margin: 7px;
            flex-direction: column;
            gap: 7px;

            .shopA {
                border: 1px solid black;
                padding: 3px;
            }

            .shopB {
                border: 1px solid black;
            }
        }

        .shopC {
            width: 260px;

            .shopFilter {
                width: 99%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #EADDF3;
                padding-bottom: 8px;
                box-shadow: 1px 3px 4px gray;
                
                .filterNav {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    background-color: #B25FF3;
                    color: white;
                    border-radius: 8px 8px 0 0;
                    padding: 2px 0px;
                    font-weight: 600;
                    font-size: 14px;
                }

                .filterInput {
                    width: 100%;
                    border-bottom: 2px solid #B25FF3;
                    margin-bottom: 5px;
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    

                    .tagInput {
                        width: 95%;
                        height: 22px;
                        border: none;
                    }

                    .filterBtn {
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        font-weight: 600;
                        border-radius: 8px;
                        border: none;
                        background-color: #B25FF3;
                        color: white;
                        padding: 3px 8px;
                        margin: 4px;
                        margin-left: auto;

                        &:hover {
                            cursor: pointer;
                            background-color: white;
                            color: #B25FF3;
                        }
                    }
                }

                .filterTagsBox {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 9px;
                    margin-bottom: 12px;

                    .filterTag {
                        width: fit-content;
                        background-color: ivory;
                        box-shadow: 0px 2px 2px #B25FF3;
                        border-radius: 10px;
                        padding: 1px 5px;
                        display: flex;
                        align-items: center;

                        .tagDel {
                            border-radius: 14px;
                            border: none;

                            &:hover {
                                cursor: pointer;
                                background-color: gray;
                            }
                        }
                    }
                }

                .filterControlBtns {
                    display: flex;
                    flex-direction: row;
                    gap: 7px;

                    .filterResetBtn, .filterApplyBtn {
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        font-weight: 600;
                        border-radius: 8px;
                        border: none;
                        background-color: #B25FF3;
                        color: white;
                        padding: 2px 8px;

                        &:hover {
                            cursor: pointer;
                            background-color: white;
                            color: #B25FF3;
                        }
                    } 

                    .filterResetBtn {
                        font-size: 12px;
                        width: fit-content;
                    }
                }
            }
        }
    }
}   

@media screen and (max-width: 1300px) {
    .shopMain {
        .shopBox {
            width: 100%;
            max-width: 1000px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .shopMain {
        .shopBox {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;

            .shopC {
                width: 100%;
                display: flex;
                align-items: center;

                .shopFilter {
                    width: 100%;
                    margin: 0px 7px;

                    .filterInput {
                        width: 100%;

                        .tagInputForm {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;

                            .filterBtn {
                                width: fit-content;
                                min-width: 45px;
                            }
                        }
                    }

                    .filterTagsBox {
                        .filterTag {
                            white-space: wrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .filterControlBtns {
                        flex-direction: row;
                    }
                }    
            }
        }
    }
}

@media screen and (max-width: 500px) {

}